:root {
  --anil: #161623;
  --negro: #111111;
  --blanco-strong: #ececec;
  --blanco-soft: #e8e8e8;
  --gris: #4b4b4d;
  --purpura-strong: #6c52cb;
  --purpura-soft: #b453cb;

  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;
}
#id28 {
  --idColor: var(--yellow);
}
#id12 {
  --idColor: var(--red);
}
#id16 {
  --idColor: var(--green);
}
#id35 {
  --idColor: var(--lightBlue);
}
#id80 {
  --idColor: var(--darkBlue);
}
#id99 {
  --idColor: var(--purple-dark-1);
}
#id18 {
  --idColor: var(--purple-medium-1);
}
#id10751 {
  --idColor: var(--yellow);
}
#id14 {
  --idColor: var(--red);
}
#id36 {
  --idColor: var(--green);
}
#id27 {
  --idColor: var(--lightBlue);
}
#id10402 {
  --idColor: var(--darkBlue);
}
#id9648 {
  --idColor: var(--purple-dark-1);
}
#id10749 {
  --idColor: var(--purple-medium-1);
}
#id878 {
  --idColor: var(--yellow);
}
#id10770 {
  --idColor: var(--red);
}
#id53 {
  --idColor: var(--green);
}
#id10752 {
  --idColor: var(--lightBlue);
}
#id37 {
  --idColor: var(--darkBlue);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: var(--negro);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "nav main main main main main"
    "nav main main main main main"
    "nav main main main main main";
}
aside {
  grid-area: nav;
  background-color: var(--anil);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(110, 82, 202);
}
aside h2,
.searchBtnForm {
  background: rgb(110, 82, 202);
  background: linear-gradient(
    180deg,
    rgba(110, 82, 202, 1) 0%,
    rgba(182, 83, 203, 1) 100%
  );
  width: 70%;
  text-align: center;
  color: var(--blanco-strong);
  font-weight: 500;
  border-radius: 16px;
  padding: 4px;
  font-size: 1.4rem;
}
.searchBtnForm {
  height: 50%;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 0 16px 16px 0;
}
main {
  grid-area: main;
  background-color: var(--negro);
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}
main::-webkit-scrollbar {
  background-color: var(--purpura-soft);
  height: 10px;
  border-radius: 8px;
}
main::-webkit-scrollbar-thumb {
  background-color: var(--anil);
  border-radius: 8px;
  border: 1px solid var(--blanco-soft);
}
main section h3 {
  color: var(--blanco-soft);
  margin-left: 20px;
}

section .cont {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.trending-preview-more,
.nav {
  background: rgb(110, 82, 202);
  background: linear-gradient(
    180deg,
    rgba(110, 82, 202, 1) 0%,
    rgba(182, 83, 203, 1) 100%
  );
  width: 80px;
  height: 40px;
  text-align: center;
  color: var(--blanco-strong);
  font-weight: 500;
  border-radius: 14px;
  margin: auto 20px;
  font-size: 16px;
  border: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.nav {
  width: min-content;
}
main .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
main .header-title input {
  background-color: var(--anil);
  border: 0px;
  width: 50%;
  height: 50%;
  border-radius: 16px 0 0 16px;
  padding-left: 20px;
}
main .trending-preview {
  display: flex;
  flex-direction: column;
}

img {
  aspect-ratio: 2 / 3;
  height: 100%;
}

.trending-preview--movie-list {
  padding: 20px;
  height: max-content;
  width: 100%;
  height: 300px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.trending-preview--movie-list::-webkit-scrollbar {
  background-color: var(--purpura-soft);
  height: 10px;
  border-radius: 8px;
}
.trending-preview--movie-list::-webkit-scrollbar-thumb {
  background-color: var(--anil);
  border-radius: 8px;
  border: 1px solid var(--blanco-soft);
}

.categories-preview {
  width: 100%;
}
.categories-preview--list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}

.category-title {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title:before {
  content: "••••";
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
}
/*  */
.generic {
  width: 100%;
}
.genericList-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.movie-detail {
  width: 100%;
  background-color: var(--red);
}
.movie-container img {
  height: 250px;
  border-radius: 14px;
}

@media (max-width: 1024px) {
  aside h2 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  body {
    display: block;
  }
  body::-webkit-scrollbar {
    background-color: var(--purpura-soft);
    height: 10px;
    border-radius: 8px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--anil);
    border-radius: 8px;
    border: 1px solid var(--blanco-soft);
  }
  main {
    overflow: hidden;
  }
  aside {
    display: none;
  }
}
